<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>손건희의 성장 박물관</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        
        
        
        
          <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <style>
		        .profile-img {
		            height: 700px;
		            width: 700px;
		            border-radius: 70%;
		            object-fit: cover;
		        }
		    </style>
        
        
        
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><span class="fw-bolder text-primary">'Son' Museum </span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/resume">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                            <li class="nav-item"><a class="nav-link" href="/photo">Photo(사진관)</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">Record(기록)</a></li>
                            <li class="nav-item"><a class="nav-link" href="/research">Research(연구)</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">비전??꿈??목표??</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">추가하자</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
                                <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Analyst &middot; Development &middot; Creator</div></div>
                                <div class="fs-3 fw-light text-muted">Nice To Meet You</div>
                                <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">I'm a Hungry Developer for Learning</span></h1>
                                
    							
                            </div>
                        </div>
                        <div class="col-xxl-7">
                            <!-- Header profile picture-->
                            <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                               
                                
                                    <img class="profile-img" src="/images/main_image.jpg"  height = "500px" width = "500px" alt="..." />
                                    <div class="dots-1">
                                       
                                       
                                       
                                       
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </header>
            
            
            
            
            
<!-- About 포트폴리오 부분-->
            <section class="bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">KH-Son</span></h2>
                                <p class="lead fw-light mb-4">My name is Kun Hee SON and I'm a hungry developer for learning.</p>
                                <p class="text-muted">Please contact me</p>
                                <div class="d-flex justify-content-center fs-2 gap-4">

								<p>Kun-Hee Son, KH-Son</p>
								<p >Artificial Intelligence</p>
								<p >Bachelor Kongju National University </p>
								<p >[CV] [Email] [Github] [Huggingface] [Scholar] [LinkedIn] [Papers With Code]</p>
								<p >Hello! I am Ph.D. candidate in School of Electrical Engineering at Korea Advanced 
														Institute of Science and Technology (KAIST) under the supervision of Prof. Yong Man Ro. 
														I have concentrated on building efficient vision language models having super performances.
														 Furthermore, I am the 🤴king of 📃paper maker featuring 🤗Huggingface Daily Papers.</p>
														 
								<p class="text-muted">Please contact me</p>
								<p class="text-muted">Please contact me</p>
								<p class="text-muted">Please contact me</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            
            
            
            <!-- About Section-->
            <section class="bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                                <p class="lead fw-light mb-4">My name is Kun Hee SON and I'm a hungry developer for learning.</p>
                                <p class="text-muted">Please contact me</p>
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                                    <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                                    <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">만든이 &nbsp;&nbsp;:&nbsp;&nbsp; 손건희,&nbsp;&nbsp; 프로젝트&nbsp;&nbsp;시작일 &nbsp;&nbsp;: &nbsp;&nbsp;2024년&nbsp;&nbsp; 7월 &nbsp;&nbsp;14일</div></div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
